name: cpm
description: Cinema Project Manager is a tool to efficiently manage the production of a cinema project.
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=2.19.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.5
  page_transition: ^2.0.9
  outline_search_bar: ^2.3.0
  intl: ^0.18.0
  file_picker: ^5.2.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/